*, *::after, *::before {box-sizing: border-box;}
[class*="col-"] {
	width: 100%;
  }

@media screen and (min-width: 1300px) {
	/* Desktop: */
	.col-1 {width: 11.1%;}
	.col-2 {width: 22.2%;}
	.col-3 {width: 33.3%;}
	.col-4 {width: 44.4%;}
	.col-5 {width: 55.5%;}
	.col-6 {width: 66.6%;}
	.col-7 {width: 77.7%;}
	.col-8 {width: 88.8%;}
    .col-9 {width: 99.9%;}
  }



body {
    background: rgb(11,12,16);
    background: linear-gradient(90deg, rgba(11,12,16,1) 0%, rgba(31,40,51,1) 25%, rgba(31,40,51,1) 75%, rgba(11,12,16,1) 100%);
    font-family: 'Open Sans'; 
}

.logo{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin: auto;
}

a{
    color: #c5c6c7;
    text-decoration: none;
}
 
p{
    color: #c5c6c7;
}

li{
    color: #c5c6c7;
}

h3{
    color: #c5c6c7;
}

legend{
    border-color: #66fcf1;
    border-style: solid;
    border-width: 2px;
}


  [class*="col-"] {
	float: left;
	padding: 15px;
  }

  .navbarMobile {display: none;}
  .homePageInfoMobile {display: none;}
  .sectionHeadingMobile {display: none;}
  .spaceLinkMobile {display: none;}
  .aboutTopMobile {display: none;}
  .aboutBoxMobile {display: none;}
  .jobSpecInfoFullMobile {display: none;}
  .applicationBoxMobile {display: none;}
  .applicationFormMobile {display: none;}


.dropdown{
    position: relative;
    z-index: 10;
    display: inline-block;
  }
    .dropdown__hover{
      display: inline-block;
      padding: 10px;
      background-color:#0b0c10;
      color: #c5c6c7;
      border: 2 solid #0b0c10;
      cursor: pointer;
      border-radius: 25px;
    }
    .dropdown__hover:hover{
        background-color: #0b0c10;
    }
    .dropdown__menu{
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      min-width: 200px;
      background-color: #0b0c10;
      color: #0b0c10;
      box-shadow: 0 3px 2px rgba(0,0,0,0.3);
      
    }
    .dropdown:hover .dropdown__menu{display: block;}
      .dropdown__menu a{
        display: block;
        padding: 10px;
        text-decoration:none;
        border-width: 0;
        border-top: 1px solid #66fcf1;
      }
      .dropdown__menu a:hover{
        background-color:#66fcf1;
        color: #0b0c10;
      }

img{
    border-radius: 25px;
    border-color: #66fcf1;
    border-style: solid;
}


.navbar{
    background-color: #0b0c10;
    padding: 40px;
    border-radius: 25px;
    width: 100%;
    font-size: 25px;
    margin-bottom: 50px;
    margin: auto;
    text-align: center;
    border-width: 2px;
    border-color: #66fcf1;
    border-style: solid;
}


.navbar a{
    text-decoration: none;
    padding: 10px;
}


a:hover{
    background-color: #0b0c10;
    text-decoration: none;
    opacity: 100%;
    color: #66fcf1;
    transition: 0.4s;
}

.aboutBox{
    background-color: transparent;

    width: 90%;
}

.aboutTop p{
    text-align: left;
}

.aboutTop{
    background-color: #0b0c10;
    margin-bottom: 30px;
}

.aboutTop a{
    margin: auto;
    text-align: center;
}

.aboutBot{
    text-align: center;
}

.aboutBot img{
    width: 100%;
    height: 300px;
    display: block;
    margin: auto;
}

fieldset {
    width: 90%;
    margin: auto;
    border-radius: 25px;
    border-width: 2px;
    background-color: #0b0c10;
    border-color: #66fcf1;
}

.aboutBoxMobile, .applicationBoxMobile{
    background-color: transparent;
    border-style: none;

}


.aboutBox{
    border-width: 0px;
}

.sectionHeading{
    width: 35%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sectionHeading h3{
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    
}

.homePageInfo{
    margin-bottom: 50px;
    width: 50%;
    text-align: center;
}

.homePageInfo p{
  margin: auto;
  text-align: left; 
}

#spaceLink{
    margin-top: 60px;
    font-size: 20px;
}

#spaceLink1{
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.contactUs{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 300px
}



.fa {
    width: 50px;
    color: #c5c6c7;;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
  }

.fa:hover{
    opacity: 50%;
    color: #66fcf1;
    transition: 0.5s;
}

.applicationForm{
    width: 50%;
    color: #c5c6c7;;
    margin-bottom: 100px;
}

.applicationBox{
    border-width: 0px;
}

.applicationForm label{
    font-size: 15px;
}

.applicationForm legend, .jobSpecInfoFull legend{
    font-size: 20px;
    margin:auto;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    background-color: #0b0c10;
    color: #c5c6c7;;
    border-color: #66fcf1;
    border-style: solid;
    border-width: 2px;
}

input{
    color: #c5c6c7;
}

input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover {
    background-color: #0b0c10;
    transition: 0.2s;

}





input[type=submit]:hover {
    color: #66fcf1;
    text-decoration: none;
    transition: 0.2s;
  }

input[type=submit] {
    margin: auto;
    text-align: center;
  }  

select{
    padding: 2px 20px 2px 20px;
    font-size: 15px;
    background-color: #0b0c10;
    transition: 0.2s;
    color: #66fcf1;;
}



.applicationForm input{
    width: 100%;
    padding: 10px;
    font-family: 'Open Sans';
    font-size: 15px;
    border-color: #66fcf1;
    background-color: #0b0c10;
}

.applicationBox {
    background-color: transparent;
}

.submit{
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

input[type=submit]{
    font-size: 20px;
    padding: 15px 40px 15px 40px;
    border-radius: 25px ;
    border-color: #66fcf1;;
    background-color: #0b0c10;
    color: #c5c6c7;;

}



.aboutBot{
    background-color: #0b0c10;
    margin-bottom: 30px;
}


.jobSpecInfoFull{
    margin-bottom: 50px;
    width: 50%;
}


.jobSpecInfoFull p, .jobSpecInfoFull li{
    margin:auto;
    text-align: left;
}

#noBorder{
    border-width: 0px;
    background-color: transparent;
    width: 100%;
}

#TraineeImg{
    width: 231px;
    height: 231px;
    display: block;
    margin: auto;
    border-radius: 100%;    
}

#aboutEmp h2{
    margin: auto;
    text-align: center;
    color: #66fcf1;
    font-size: 30px;
}

#aboutImg{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;    
}



@media screen and (max-width: 768px) {
    .navbar{
        display: none;
    }
    .navbarMobile{
        background-color: #0b0c10;
        padding: 40px;
        border-radius: 25px;
        width: 90%;
        font-size: 25px;
        margin: auto;
        text-align: center;
        display: block;
        border-width: 2px;
        border-style: solid;
        border-color: #66fcf1;
        text-decoration: none;
    }

    .navbarMobile a{
        padding: 10px;
        
    }

    .aboutBox{
        display: none;
    }

    .aboutBoxMobile{
        display: block;
        margin-top: 50px;

    }

    .aboutTop{
        display: none;
    }

    .aboutTopMobile{
        display: block;
        margin-top: 0;
        margin-bottom: 75px;
    }

    #spaceLink{
        display: none;
    }

    #spaceLinkMobile{
        margin-bottom: 10px;
        font-size: 20px;
    }

    .sectionHeading{
        display: none;
    }

    .sectionHeadingMobile{
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        width: 65%;
        display: block;

    }

    .homePageInfo{
        display: none;
    }

    .homePageInfoMobile{
        display: block;
        width: 80%;
    }

    .jobSpecInfoFull{
        display: none;
    }

    .jobSpecInfoFullMobile{
        display: block;
        margin-bottom: 50px;
    }

    .jobSpecInfoFullMobile legend{
        font-size: 20px;
        text-align: center;
        border-radius: 25px;
        padding: 10px;
        background-color: #0b0c10;
        color: #c5c6c7;;
    }

    .applicationBox{
        display: none;
    }

    .applicationBoxMobile{
        display: block;
        background-color: transparent;
    }
    .applicationForm{
        display: none;
    }

    .applicationFormMobile{
        display: block;
        font-size: 20px;
        margin-bottom: 100px;
        text-align: center;
        border-radius: 25px;
        padding: 10px;
        background-color: #0b0c10;
        color: #c5c6c7;;
        font-size: 15px
    }

    .applicationFormMobile legend{
        font-size: 20px;
        margin:auto;
        text-align: center;
        border-radius: 25px;
        padding: 10px;
        background-color: #0b0c10;
        color: #c5c6c7;;
    }

    .applicationFormMobile input{
        width: 100%;
        padding: 10px;
        font-family: 'Open Sans';
        font-size: 15px;
        border-color: #66fcf1;
        background-color: #0b0c10;
    }

    .contactUs{
        width: 80%;
    }

    .logoAndNav {
        display: none;
    }


    .logoMobile{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 60%;
        margin-top: 70px;
    }
    

    
}


